#folder for putting files to be parsed
/parsing/*

#folder where the parser-created files are located
/script_out/*

#folder containing fragmented files used for testing MSE fuctions
/out/*

#test webserver files
mongoose*

#python script generated log
python_script.log

#vscode launch configs
.vscode

#python-related
__pycache__