html, body {
	height: 100%;
	margin: 0;
	padding: 1vh;
/*	background-color: rgb(220, 250, 220)*/
}


#map {
	top: 0px;
	left: 0px;
	height: 50%;
	width: 50%;
	z-index: 53;
}

#user-svg{
	position:absolute;
	z-index: 55;
	margin: 0;
	padding: 0;
	top: 50%;
	left:50%;
	transform:translatex(-90px);
	transform:translatey(-32px);
}

#container{
	position:absolute;
	top: 50%;
}

#menu{
	padding: 0.5em;
	line-height: 25px;
}